:root{
  --main-color:#5DA93C;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: Raleway,Helvetica,Arial,sans-serif; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.image_placeholder{
  background-image: url('./images//iBommaMovieContent.jpg');
}
.notfound{
  animation: animName 3s linear infinite;
}

@keyframes animName {
  0%{
     transform: rotate(0deg);
    }
 100%{
     transform: rotate(360deg);
    }
 }
